// *= require_tree .

body {
  margin: 0;
  padding:0;
  position: relative;
}

header.main {
  text-align: center;
  @media (min-width: 30em) {
    text-align: left;
  }
  background: #282;
  margin: 0;

  h1 {
    display: none;
  }

  img {
    width:200px;
  }
}

.btn-cart {
  float: right;
  padding: 5px 10px;
  background: #58b658;
  text-decoration: none;
  margin: 19px;
  color: #fff !important;
  font-weight: bold;
}

.content {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    flex-direction: row; // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }

  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center; // mobile has centered nav

    @media (min-width: 30em) {
      text-align: left; // desktop nav is left-aligned
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      @media (min-width: 30em) {
        padding-right: 1em;
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
      }
    }
  }

  main {
    padding: 0.5em;
  }
}

.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1em;
  text-align: center;
}

#cart {
  article {
    h2 {
      margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em !important;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0; // desktop doesn't need this margin
    }
    display: block;
  }
}

.card-basket {
  min-width: 50px;
  /* height: 100px; */
  background-color: #FFF;
  box-shadow: 0px 0px 21px 0px #ddd;
  padding: 16px 10px 10px 6px !important;
  right: 0px;
  top: 50%;
  position: fixed;

  .price {
    padding: 0px;
    margin: 10px 10px 0px 10px;
    font-weight: bold;
  }

  .cart-image {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0px auto auto;
  }

  .cart-badge-text {
    width: 25px;
    height: 24px;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background: red;
    top: 13px;
    right: 12px;
    z-index: 5;
    color: #fff;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    transition: 0.3s;
  }

  a:hover {
    color: #007bff;

  }

}